

div.pokemoncart{
    background-color: #ffff;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 6px;
    margin-right: 6px;
}

div.banner{
    text-align: center;
}

div.info{
    margin: 5px;
}

div.footer{
     display: flex;

}