@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Hind+Siliguri:wght@300;400;500;600;700&family=Pixelify+Sans:wght@400..700&display=swap');

*{
  font-family: "Pixelify Sans",
}

body {  
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}